@keyframes hero-text-anim {
    0% {
        opacity: 0;
        transform: translate3d(0, 20px, 0)
    }

    75% {
        opacity: 0;
        transform: translate3d(0, 20px, 0)
    }

    100% {
        transform: translate3d(0, 0, 0)
    }
}

@keyframes titleanimation {
    0%, 100% {
      background-position: left top;
    }
    25%{
      background-position: right bottom;
     }
    50% {
      background-position: left bottom;
    }
    75% {
      background-position: right top;
    }   
}


@keyframes load {
  from {transform: rotate(0turn)}
  to   {transform: rotate(1turn)}
}
