@use 'sass:color';

:root {
    --background: #ffffff;
    --foreground: #025072;
    --foreground-filter:invert(15%) sepia(97%) saturate(2664%) hue-rotate(182deg) brightness(87%) contrast(98%);
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #000;
      --foreground: #54b1da;
      --foreground-filter: invert(67%) sepia(22%) saturate(1159%) hue-rotate(157deg) brightness(94%) contrast(80%);
    }
  }

  body {
    color: var(--foreground);
    background: var(--background);
  }